body {
  background-color: #333738;
}

#presentation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95vw;
  height: 100vh;
  background-color: #222324;
  border: 1px solid black;
  margin-left: 2vw;
  margin-right: 3vw;

}

.AboutMe{
  width: 60%;
  color: #dfe6ed; 
  margin-left: 2%;
  margin-top: 2%;
}

strong {
  color: #81a6cc;
}

.skills{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  height: 13%;
  width: 100%;
}

.hardskills1{
  width: 80%;
  height: 100%;
  background: url("./assets/logo/52493.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hardskills2 {
  width: 50%;
  height: 100%;
  background: url("./assets/logo/formation-reactjs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hardskills3 {
  width:80%;
  height:100%;
  background: url("./assets/logo/1200px-MySQL.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hardskills4 {
  width:80%;
  height:100%;
  background: url("./assets/logo/590px-Node.js_logo.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hardskills5 {
  width:80%;
  height:100%;
  background: url("./assets/logo/octocatlink.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.more_skills {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  height: 17%;
  width: 100%;
}

.skills1 {
  width:100%;
  height:100%;
  background: url("./assets/logo/Poufsouffle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skills2 {
  width:100%;
  height:100%;
  background: url("./assets/logo/NaNo-Shield-Logo-Web.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skills3 {
  width:100%;
  height:100%;
  background: url("./assets/logo/taekwondo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skills4 {
  width:90%;
  height:100%;
  background: url("./assets/logo/gameplay.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cardso{
  width: 30%;
}

.name {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  font-size: 2.1em;
  color: #81a6cc;
}
#photo {
  display: flex;
  justify-content: center;
  width:100%;
  height: 60%;
}
.photoprofil{
  background: url("assets/16mai19So2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:95vw;
  height:60vh;
  border-radius: 5% 5% 5% 5%;
}

.job {
  margin-top: 5%;
  text-align: center;
  color: #81a6cc;
  font-size: 1.7em;
}

.Wild{
  display: flex;
  flex-direction: column;
  margin-top:5vh;
  margin-left: 5vw;
  color: #dfe6ed; 
}

h3, h4 {
  color :#568abf;
  text-align: center;
}

/* .logoschool {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  height: 25%;
  width: 100%;

}
.logoschool1 {
  width: 70%;
  height:100%;
  background: url("./assets/WildCodeSchool.png");
  background-size: contain;
  background-repeat: no-repeat;

}
.logoschool2 {
  width:80%;
  height:100%;
  background: url("./assets/label_gen_vf_cmjn.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

#projet {
  color: #dfe6ed;
  display: flex;
  max-width:80%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  background-color: #222324;
  margin: auto;
  border-top:none;
  /* display: none; */
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:80%;
  margin: auto;
  background-color: #222324;
  border: 1px solid black;
  border-radius: 5px 5px 10px 10px;
  border-bottom: none;
}

.navi {
  border-radius: 10px 10px;
  width:15vw;
  background-color: #568abf;
}
.pres {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.presproject {
  width:90%;
  margin: auto;
}
#carouselProjet {
  margin-left: 5%;
  margin-right: 5%;
}